* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
:root {
  --primary-color: #ffcc00;
  --second-color: #ff0066;
  --third-color: #00f7ff;
  --fourth-color: #2c129a;
  --text-color: #fff;
  --bg-color: #080808;
  --second-bg-color: #001005;
}
/* .dark-theme{
  --primary-color: #000000;
  --secondary-color: #fff;
}
*/

html{
  font-size: 60%;
  overflow-x: hidden;
}
body{
  background: #000000;
  color: var(--text-color);
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.7rem 10%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px var(--second-bg-color), 0 5px 10px var(--second-bg-color);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon{
  font-size: 3.5rem;
  color: var(--primary-color);
  display: none;
}
.logo{
  width: 90px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover{
  transform: scale(1.5);
}
.logo img{
  max-width: 100%; 
  height: auto;
}
.navbar a{
  font-size: 2.1rem;
  font-weight: 650;
  margin-left: 3rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--second-color);
  border-bottom: 3px solid var(--second-color);
}
.gradient-btn{
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1%;
  border-radius: 1.2rem;
  color: var(--text-color);
  background: linear-gradient(
    270deg, #ffcc00 10%,#ff0066 100%);
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary-color), 0 0 50px var(--primary-color);
}
section{
  min-height: 100vh;
  padding: 10rem 15%;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1{
  font-size: 9rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
span{
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
    background-clip: text;
    color: transparent;
}
.home-content h3{
  margin: 1rem 0;
  font-size: 3.8rem;
  font-weight: bold;
}
.home-content p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home-vd video{
  width: 28vw;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* box-shadow: 0 0 25px var(--primary-color); */
  transition: 0.4s ease-in-out;
}
.home-vd video:hover{
  transform: scale(1.3);
  /* box-shadow: 0 0 25px var(--primary-color),
              0 0 50px var(--primary-color),
              0 0 100px var(--primary-color); */
}
.social-icons a{
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2.5px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  color: var(--text-color);
  border: var(--second-color);
  background-color: var(--primary-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--primary-color);
}
.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px var(--second-color);
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary-color), 0 0 50px var(--primary-color);
}
.btn-group a:nth-of-type(2){
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}
/* Home Section Ended */

/* About Section Started */
.about{
  background: var(--second-bg-color);
  cursor: pointer;
}
.about-heading{
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
    background-clip: text;
    color: transparent;
}
.about-heading:hover{
  background: linear-gradient(
    270deg, #ff0066 50%, #DF8908 50%);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
}
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.about-img img{
  width: 400px;
  height: 450px;
  border: 3px solid #DF8908;
  border-radius: 16px;
  margin-top: 5%;
  background-color: #2A2438; 
  align-items: center;
  align-content: center;
  /* box-shadow: 0 0 25px var(--primary-color); */
  transition: 0.4s ease-in-out;
}
.about-img img:hover{
  background-color: var(--second-bg-color);
  border: 3px solid var(--second-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 40px var(--primary-color), 0 0 80px var(--primary-color);
  transform: scale(1.2);
}
.about-content h5{
  font-size: 3rem;
  text-align: left;
  background: linear-gradient(
    270deg, #ff0066 10%, #DF8908 100%);
    background-clip: text;
    color: transparent;
}
.about-content h5:hover{
  background: linear-gradient(
    270deg, #DF8908 50%, #ff0066 50%);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
}
.about-content h6{
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--second-color);
}
.about-content p{
  font-size: 1.8rem;
  margin: 2rem 0;
  margin-top: 3.5rem 0;
  letter-spacing: 0.3rem;
  text-decoration: none;
  font-weight: 450;
}
.about-content .btn{
  margin: 2rem 0;
}
.bottom-bar{
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid var(--primary-color);
  text-align: center;
  /* padding: 10px 0; */
  margin-top: 80px;
}
.bottom-bar:hover{
  transform: scale(1.2);
  border: 3px solid var(--second-color);
}
/* About Section Ended */

/* Scroll Bar Section Started*/
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  border: 3px solid var(--primary-color);
  border-radius: 18px;
  background: var(--second-color);
}
::-webkit-scrollbar-track{

  background: var(--second-bg-color);
}
/* Scroll Bar Section Ended*/

/* Education Section Started  */
.education-heading{
  text-align: left;
  font-size: 6rem;
  margin: 3rem 0;
  margin-top: 6%;
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
    background-clip: text;
    color: transparent;
}
.education-contents{
	padding: 0px 30px;
	border-left: 3px solid var(--primary-color);
}
.education-contents .box{
  width: 1030px;
	position: block;
	padding: 20px;
  border-radius: 16px;
  border-left: 3px solid var(--primary-color);
	border: 2px solid var(--primary-color);
	background-color: #011515;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.education-contents .box:hover{
  background-color: var(--bg-color);
  box-shadow: 0 0 10px var(--primary-color), 0 0 30px var(--primary-color), 0 0 10px var(--primary-color); 
	border: 5px var(--second-color);
}
.education-contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: var(--second-color);
	border: 3px solid var(--primary-color);
}
.box{
  position: relative;
  display:inline-flex;
  gap: 3rem;
}
.box img{
  width: 25vw;
  height: 35vh;
  border: 3px solid var(--second-color);
  border-radius: 1.5rem;
}
.box img:hover{
  transform: scale(1.05);
}
.content{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  gap: 1.5rem;
}
.content h2{
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--text-color);
}
.content h3{
  font-size: 1.8rem;
  color: var(--text-color);
}
.content h4{
  font-size: 1.9rem;
  color: var(--text-color);
}
.content p{
  font-size: 1.6rem;
  color: var(--text-color);
}
.content .read-more{
  align-items: right;
  text-align: right;
  margin-left: 75%;
  gap: 2rem;
}
/* Education Section Ended  */

/* Skills Section Started  */
.skills{
  background-color: #04051b;
  color: var(--text-color);
}
.heading{
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
    background-clip: text;
    color: transparent;

}
.heading:hover{
  background: linear-gradient(
    270deg, #DF8908 50%, #ff0066 50%);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}
.skills-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
  height: 500px;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--bg-color);
  border: 3.5px solid var(--primary-color);
  transition: 0.4s ease-in-out;
}
.skills-box:hover{
  background: var(--second-bg-color);
  color: var(--text-color);
  border: 3.5px solid var(--second-color);
  transform: scale(1.03);
}
.service-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.service-info h4{
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}
.service-info p{
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}
.service-info i{
  font-size: 5rem;
  height: 70px;
  width: 70px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3.5px solid var(--primary-color);
  background: var(--second-color);
  border-radius: 50%;
}
.service-info i:hover{
  background: var(--primary-color);
  border: 3.5px solid var(--second-color);
}
/* Service Section Ended  */

/* Project Section Started */
.projects{
  background-color: var(--second-bg-color);
}
.project-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}
.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 3rem;
  border: 2px solid var(--primary-color);
  gap: 2.5rem;
  padding: 7rem 4rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--primary-color);
  transition: 0.3s ease;
}
.project-card:hover{
  box-shadow: 0 0 25px var(--primary-color),
              0 0 50px var(--primary-color);
  border: 3.5px solid var(--second-color);
  transform: scale(1.05);
}
.project-card img{
  max-width: 300px;
  border-radius: 2rem;
  border: 3px solid var(--second-color);
  object-fit: cover;
}
.project-card h3{
  font-size: 3rem;
}
.project-card p{
  font-size: 1.6rem;
}
/* Project Section Ended */


/* Contact Section Started */
.contact{
  background-color: #002020;
}
.contact-heading{
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0;
  background: linear-gradient(
    270deg, #DF8908 10%, #ff0066 100%);
    background-clip: text;
    color: transparent;
}
.contact-heading:hover{
  background: linear-gradient(
    270deg, #DF8908 50%, #ff0066 50%);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form ,input-box input, .contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--primary-color);
  margin: 1.5rem 0;
  resize: none;
}
/* Contact Section Ended */